.secondary-nav
{
  margin-bottom: 20px;
}

.secondary-nav ul
{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.secondary-nav li
{
  float: left;
  margin-right: 8px;
}

.ideas
{
}

.ideas p
{
}

.ideas .idea
{
  border: 1px solid #666;
  padding: 5px 6px;
  margin-bottom: 10px;
  background-color: white;
  cursor: pointer;
}

.ideas .idea:hover
{
  background-color: #fafafa;
}

.ideas .idea .rating
{
  float: left;
  margin-right: 5px;
  width: 39px;
}

.ideas .idea .rating img
{
  width: 39px;
  height: 42px;
}

.ideas .idea .content
{
  margin-left: 50px;
  margin-bottom: 5px;
}

.ideas .idea .content .title
{
  margin: 0;
  margin-bottom: 3px;
  font-size: 1.4em;
}

.ideas .idea .content .body
{
  margin: 0;
}
